<div class="row">
    <% if (pet) { %>
    <div class="col-sm-6">
        <img src="/images/<%=pet.picPrefix%>_<%=pet.type.toLowerCase()%>.jpg" class="img-circle img-responsive" alt="<%=pet.name%>"/>
    </div>

    <div class="col-sm-6 text-center">
        <div class="page-header text-center">
        <% 
          if (pet.needShelter) {
        %>

            <div class="need_shelter_true">
                <h1>Yup!</h1>
                <h2>It looks like <span class="pet_name"><%=pet.name%></span> is going to need one in <span class="pet_location"><%=pet.location%></span> (Weather: <%=pet.weather%>)</h2>
            </div>

        <%   } else { %>
            <div class="need_shelter_false">
                <h1>Awesome!</h1>
                <h2>It looks like <span class="pet_name"><%=pet.name%></span> does NOT need a shelter in <span class="pet_location"><%=pet.location%></span> (Weather: <%=pet.weather%>)</h2>
            </div>
        <% } %>

        </div>

        <a href="/">Lookup a different pet</a>
    </div>

    <% } else { %>
        <!-- just in case, not likely to happen -->
        <a href="/">Lookup a different pet</a>
    <% } %>
</div>